/* TEST */

body{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Belleza;
    background-color: rgb(240, 230, 175);
}

#main-header{
    height: 80px;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    margin-right: 10px;
    float: left;    
}

#header-name {
    font-size: 40px;
    color: green;
    padding: 15px;
    margin: 0px 0px 0px 0px;
}
/*Search*/
#search {
    float: right;
    padding: 5px;
    margin: 10px 10px 0px 0px;
}

#main-image{
    width: 700px;
    height: 250px;
    float: left;
}

#side-image {
    width: 300px;
    height: 250px;
    float: right;
}

#welcome {
    width: 700px;
    float: left;
    font-size: 12px;
    margin: 20px 0px 20px 0px;
}

#recent-news{
    float: right;
    width: 300px;
    margin: 20px 0px 20px 0px;
}

#recent-news > header{
    margin-left: 5px;
    color: green;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

#recent-news > ul {
    list-style: none;
}

#recent-news > ul > li {
    margin: 0px 0px 3px 0px;
}

#main{
    height: 100%;
    width: 700px;
    float: left;
    margin: 0px 0px 3px 0px;
}

#donut-header{
    color: green;
    font-size: 15px;
    margin: 0px 0px 3px 0px;
    height: 25px;
}


#header-title {
    background-color: gray;
    border-radius: 5px;
}
.products{
    width: 25%;
    float: left;
    margin: 0px 0px 20px 0px;
}
.product-article {
    height: 150px;
    width: 200px;
    border-width: 2px;
    border-style: solid;
    border-color: green;
    margin: 3px 3px 3px 3px;
    padding: 3px 3px 3px 3px;
    border-radius: 5px;
}
.product-thumbnail {
    width: 35px;
    height: 35px;
}


.stuff{
	width: 70%;
	float: right;
}

#customer-of-day{
	width: 450px;
	height: 450px;
	border-radius: 5px;
}

figcaption{
	font-size: 12px;
	font-weight: bold;
	font: helvetica;
	text-align: center;
}
footer {
    clear: both;
    width: 100%;
    background-color: chocolate;
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    border-radius: 5px;
}
   


